.site-header {
  padding: 8px;

  .container {
    // padding: 8px;
    border-radius: 48px;
    overflow: hidden;
    padding: 8px 16px;
    max-width: 1536px;
  }

  .header-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

  &.menu-open {
    .container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 16px;
    }

    nav {

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 4px;
      }
    }
  }
}