.site-header {
  padding: 8px;

  .container {
    border-radius: 48px;
    overflow: hidden;
    padding: 8px 16px;
    max-width: 1536px;
  }

  // &.menu-open {
  //   .container { padding-bottom: 24px; }
  // }

  &:not(.menu-open) {
    .container { background: rgba(253, 253, 251, 0.10); }
  }

  .header-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }

  .icons-wrapper { align-items: center; }

    button {
      img:hover {
        transform: rotate(2px);
      }
    }

  &.menu-open {
    .container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 16px;
      padding: 16px;

      @include bp(md){ padding: 16px 24px; }
    }

    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 12px;

        @include bp(sm){ gap: 16px; }
        @include bp(lg){ gap: 24px; }
      }
    }
  }
}